<?php

/**
 * Database config
 */
define('DB_ENABLE', true);
define('DB_TYPE', 'mysql');
define('DB_HOST', '127.0.0.1');
define('DB_NAME', 'PrimBase');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_CHARSET', 'utf8');

/**
 * Environment
 */
define('ENV', 'dev');

if(ENV === 'dev') {
    define('DEBUG', true);
} else {
    define('DEBUG', false);
}

/**
 * Error handling
 */
define('ERROR_MAIL', 'mail@exemple.com');
define('ERROR_MAIL_FROM', 'Prim');